# *.sqlite3
**/*.pyc
.idea
.secret
db.sqlite3
/venv/*
/env/
/.secret
gbfp/__pycache__/
companyapp/__pycache__/
companyapp/migrations/__pycache__/
vacancyapp/__pycache__/
vacancyapp/migrations/__pycache__/