<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <title>
        {% block title %}
            {{ title }}
        {% endblock %}
    </title>
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
        <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
    {% endblock %}
    {% block js %}
        <script src="{% static 'js/bootstrap.js' %}"></script>
    {% endblock %}
</head>
<body>

<div class="container">
    <div id="page">
        {% include 'mainapp/header.html' %}
        <div class="wrapper" id="header">
            <div class="header__logo"></div>
        </div>

        <div class="wrapper" id="page-title">
            <div class="pt-2 pb-3 mb-0 small lh-sm border-bottom w-100">
                <div class="d-flex justify-content-between align-items-center">
                    {% if request.resolver_match.url_name == 'company_view' %}
                        <h4 class="text-gray-dark"> {{title}} - {{ request.user|title }}</h4>
                        <a class="mt-2 btn btn-outline-secondary"
                           href="{% url 'company:company_update' request.user.pk %}">
                            Редактировать профиль
                        </a>
                    {% elif request.resolver_match.url_name == 'vacancy_update' %}
                        <h4 class="text-gray-dark">Редактирование вакансии {{ form.name.value }}</h4>
                        <a class="mt-2 btn btn-outline-secondary" href="{% url 'company:company_view' %}">
                            Вернуться в личный кабинет
                        </a>
                    {% elif request.resolver_match.url_name == 'company_update' %}
                        <h4 class="text-gray-dark">Редактирование профиля {{ request.user.username }}</h4>
                        <a class="mt-2 btn btn-outline-secondary" href="{% url 'company:company_view' %}">
                            Вернуться в личный кабинет
                        </a>
                    {% elif request.resolver_match.url_name == 'applicant_view' %}
                        <h4 class="text-gray-dark"> {{title}} - {{ request.user|title }}</h4>
                        <a class="mt-2 btn btn-outline-secondary"
                           href="{% url 'applicant:applicant_update' request.user.pk %}">
                            Редактировать профиль
                        </a>
                    {% elif request.resolver_match.url_name == 'resume_update' %}
                        <h4 class="text-gray-dark">Редактирование резюме {{ form.name.value }}</h4>
                        <a class="mt-2 btn btn-outline-secondary" href="{% url 'applicant:applicant_view' %}">
                            Вернуться в личный кабинет
                        </a>
                    {% elif request.resolver_match.url_name == 'applicant_update' %}
                        <h4 class="text-gray-dark">Редактирование профиля {{ request.user.username }}</h4>
                        <a class="mt-2 btn btn-outline-secondary" href="{% url 'applicant:applicant_view' %}">
                            Вернуться в личный кабинет
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper section">
        <div id="personal_area">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    {% include 'mainapp/footer.html' %}
</div>
</body>
</html>
