{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
    <div class="card m-2 shadow-sm" style="">
        <div class="card-body">
            <h5 class="card-title">Правила портала</h5>
            <h6 class="card-subtitle mb-2 text-muted ">08.03.2021</h6>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias architecto
                atque cum dignissimos dolor, dolorum eaque facilis harum ipsum laboriosam modi odio qui repellat
                suscipit ullam, unde voluptates voluptatibus!</p>

        </div>
    </div>
{% endblock %}